{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description" content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>{{ user.username }}</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="{% static 'User/profile.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

</head>
<body>

    <header>

        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" alt="connect" style="object-fit: cover;">  
    {% else %}  
        <img src="https://www.meme-arsenal.com/memes/77086a4ce9dcc164c77db76c7853f012.jpg" alt=""></img>
    {% endif %}

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{ user.username }}</h1>

                    <a class="btn profile-edit-btn" href="{% url 'User:edit_profile' %}">Edit Profile</a>

                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                  </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{ profile.posts_count }}</span> posts</li>
                        <li><span class="profile-stat-count">{{ profile.followers_count }}</span> followers</li>
                        <li><span class="profile-stat-count">{{ profile.following_count }}</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name">{{ user.first_name }} {{ user.last_name }}</span>
                    {% if profile.bio is None %}       
                    {% else %}
                    {{ profile.bio }}
                    {% endif %}
                    </p>
                <br>
                </div>
           {% if profile.website_url is None %}                    
                    {% else %}   
                    <a href="{{ profile.website_url }}"> <span class="profile-real-name">                                         
                    {{ profile.website_url }}
                    {% endif %}
                        </span></a>
                </div>

            </div>
            <!-- End of profile section -->
     </div>
     </header>
    <main>

            <div class="gallery">
                <a href="{% url 'User:add_post' %}"><button type="button" class="btn profile-edit-btn">Add post</button></a>
                {% if posts %}
                    {% for post in posts %}

                <div class="gallery-item" tabindex="0">
        <img src="{{ post.image.url }}" alt="connect" class="gallery-image">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                        </ul>

                    </div>

                </div>
                {% endfor %}
                {% endif %}
                    </div>

                </div>

            </div>
            <!-- End of gallery -->

            <div class="loader"></div>

        </div>
        <!-- End of container -->

    </main>

</body>
</html>
