{% load sass_tags %}
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% sass_src 'sass/index.scss' %}" type="text/css"/>
  </head>
  <body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
    <section class="register">
      <div class="container">
        <h1 class="register__title">Register <span>/ Log In</span></h1>
        <form class="register__form" method="post">
          {% csrf_token %}
          <label class="register__label"
            >First name
            <input class="register__input" type="text" name="fname"/>
          </label>
          <label class="register__label"
            >Last name
            <input class="register__input" type="text" name="lname" />
          </label>
          <label class="register__label"
            >Username
            <input class="register__input" type="text" placeholder="Username" name="username" />
            {% if username_excist %}
              <p>{{ username_excist }}</p>
            {% endif %}
          </label>
          <label class="register__label"
            >Your password:
            <input class="register__input register__input-before" type="password" name="password"/>
          </label>
          <p class="register__helper">Minimum amount of characters: 8</p>
          {% if invalid_pass %}
              <p>{{ invalid_pass }}</p>
          {% endif %}
          <label class="register__label"
            >Pass your password again:
            <input class="register__input" type="password" name="password2" />
            {% if inc_pass %}
              <p>{{ inc_pass }}</p>
            {% endif %}
          </label>
          <label class="register__label"
            >Your email<span> (Optional)</span>
            <input
              class="register__input"
              type="email"
              placeholder="you@example.com"
              name="email"
            />
            {% if email_alr_excist %}
              <p>{{ email_alr_excist }}</p>
            {% endif %}
          </label>
          <label class="register__label-checkbox">
            <input class="register__checkbox" type="checkbox" />
            Remember me
          </label>
          <div class="register__button-wrapper">
            <button class="register__button" type="submit">Register</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
