<section class="register">
  <div class="container">
    <h1 class="register__title"><span>Register/</span> Log In</h1>
    <form class="register__form">
      <label class="register__label"
        >Your Username
        <input class="register__input" type="text" placeholder="Username" />
      </label>
      <label class="register__label"
        >Your password:
        <input class="register__input" type="text" placeholder="Password" />
      </label>
      <div class="register__button-wrapper">
        <button class="register__button" type="submit">Log in</button>
      </div>
    </form>
  </div>
</section>
