<section class="register">
  <div class="container">
    <h1 class="register__title">Register <span>/ Log In</span></h1>
    <form class="register__form">
      <label class="register__label"
        >First name
        <input class="register__input" type="text" />
      </label>
      <label class="register__label"
        >Last name
        <input class="register__input" type="text" />
      </label>
      <label class="register__label"
        >Username
        <input class="register__input" type="text" />
      </label>
      <label class="register__label"
        >Your password:
        <input class="register__input" type="password" />
      </label>
      <label class="register__label"
        >Pass your password again:
        <input class="register__input" type="password" />
      </label>
      <label class="register__label"
        >Your email<span> (Optional)</span>
        <input class="register__input" type="email" />
      </label>
      <label class="register__label">
        <input class="register__checkbox" type="checkbox" />
        Remember me
      </label>
      <div class="register__button-wrapper">
        <button class="register__button" type="submit">Register</button>
      </div>
    </form>
  </div>
</section>
